USE [master]
GO
/****** Object:  Database [QLY_BAN_HANG_LINH_KIEN]    Script Date: 6/25/2021 11:54:59 AM ******/
CREATE DATABASE [QLY_BAN_HANG_LINH_KIEN] ON  PRIMARY 
( NAME = N'QLY_BAN_HANG_LINH_KIEN', FILENAME = N'E:\0. STUDY\CKC\Semester IV\Windows Programing\Project\432_434_CDTH19E_DoAnMonHoc\Database\QLY_BAN_HANG_LINH_KIEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLY_BAN_HANG_LINH_KIEN_log', FILENAME = N'E:\0. STUDY\CKC\Semester IV\Windows Programing\Project\432_434_CDTH19E_DoAnMonHoc\Database\QLY_BAN_HANG_LINH_KIEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLY_BAN_HANG_LINH_KIEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLY_BAN_HANG_LINH_KIEN]
GO
/****** Object:  UserDefinedFunction [dbo].[soLuongHinhMotDoiTuong]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[soLuongHinhMotDoiTuong] ( @madoituong NVARCHAR(20) )
RETURNS int
AS
BEGIN
DECLARE @COUNT INT = (select COUNT(MAHINH) from KHOHINH where MADOITUONG = @madoituong group by MADOITUONG)
return @COUNT 
END
GO
/****** Object:  Table [dbo].[CHITIET_HOADON]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HOADON](
	[MA_HD] [nvarchar](10) NOT NULL,
	[MA_SP] [nvarchar](10) NOT NULL,
	[TRANGTHAI_CTHD] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[GIAM] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nvarchar](10) NOT NULL,
	[MA_KH] [nvarchar](20) NULL,
	[TONGTIEN] [int] NULL,
	[LOAIHD] [varchar](1) NULL,
	[TRANGTHAI_HD] [int] NULL,
	[MA_NCC] [nvarchar](10) NULL,
	[NGAYLAP_HD] [datetime] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](20) NOT NULL,
	[TENKH] [nvarchar](200) NULL,
	[SDT_KH] [nvarchar](20) NULL,
	[DC_KH] [nvarchar](500) NULL,
	[EMAIL_KH] [nvarchar](200) NULL,
	[TRANGTHAI_KH] [int] NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHINH]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHINH](
	[MAHINH] [int] IDENTITY(1,1) NOT NULL,
	[MADOITUONG] [nvarchar](20) NOT NULL,
	[TENFILE] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](2000) NULL,
 CONSTRAINT [PK_KHOHINH] PRIMARY KEY CLUSTERED 
(
	[MAHINH] ASC,
	[MADOITUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIHOADON]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIHOADON](
	[MALOAIHD] [varchar](1) NOT NULL,
	[TENLOAIHD] [nvarchar](200) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_LOAIHD] PRIMARY KEY CLUSTERED 
(
	[MALOAIHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [nvarchar](10) NOT NULL,
	[TENLOAISP] [nvarchar](200) NULL,
	[TRANGTHAI_LOAISP] [int] NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[MALOAI] [nvarchar](20) NOT NULL,
	[TENLOAI_TK] [nvarchar](20) NOT NULL,
	[MOTA_LOAITK] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOAITAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](200) NULL,
	[SDT_NCC] [nvarchar](12) NULL,
	[DC_NCC] [nvarchar](500) NULL,
	[TK_NCC] [nvarchar](100) NULL,
	[STK_NCC] [nvarchar](20) NULL,
	[TRANGTHAI_NCC] [int] NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](10) NOT NULL,
	[TENSP] [nvarchar](200) NOT NULL,
	[GIA_NHAP] [int] NULL,
	[GIA_BAN] [int] NULL,
	[TONKHO] [int] NULL,
	[TRANGTHAI_SP] [int] NULL,
	[MALOAI] [nvarchar](10) NULL,
	[MA_NCC] [nvarchar](10) NULL,
	[MO_TA_SP] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[MOTA_TK] [nvarchar](255) NULL,
	[TRANGTHAI_TK] [int] NULL,
	[LOAI_TK] [nvarchar](20) NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI_COBAN]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI_COBAN](
	[TRANGTHAI] [int] NOT NULL,
	[TENTRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_TRANGTHAI_COBAN] PRIMARY KEY CLUSTERED 
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI_CT_HOADON]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI_CT_HOADON](
	[TRANGTHAI] [int] NOT NULL,
	[TENTRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_TRANGTHAI_CT_HOADON] PRIMARY KEY CLUSTERED 
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI_HOADON]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI_HOADON](
	[TRANGTHAI] [int] NOT NULL,
	[TENTRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_TRANGTHAI_HOADON] PRIMARY KEY CLUSTERED 
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAI_SANPHAM]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAI_SANPHAM](
	[TRANGTHAI] [int] NOT NULL,
	[TENTRANGTHAI] [nvarchar](20) NULL,
 CONSTRAINT [PK_TRANGTHAI_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[TRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIET_HOADON] ([MA_HD], [MA_SP], [TRANGTHAI_CTHD], [SOLUONG], [DONGIA], [GIAM], [THANHTIEN]) VALUES (N'001', N'i3-10100', 1, 1, 3390000, NULL, 3390000)
INSERT [dbo].[CHITIET_HOADON] ([MA_HD], [MA_SP], [TRANGTHAI_CTHD], [SOLUONG], [DONGIA], [GIAM], [THANHTIEN]) VALUES (N'002', N'RTX-3060', 1, 1, 25990000, NULL, 25990000)
INSERT [dbo].[CHITIET_HOADON] ([MA_HD], [MA_SP], [TRANGTHAI_CTHD], [SOLUONG], [DONGIA], [GIAM], [THANHTIEN]) VALUES (N'003', N'Z590', 1, 1, 6850000, NULL, 6850000)
GO
INSERT [dbo].[HOADON] ([MAHD], [MA_KH], [TONGTIEN], [LOAIHD], [TRANGTHAI_HD], [MA_NCC], [NGAYLAP_HD]) VALUES (N'001', N'KH1', 3390000, N'X', 1, NULL, CAST(N'2021-04-19T00:00:00.000' AS DateTime))
INSERT [dbo].[HOADON] ([MAHD], [MA_KH], [TONGTIEN], [LOAIHD], [TRANGTHAI_HD], [MA_NCC], [NGAYLAP_HD]) VALUES (N'002', N'KH4', 25990000, N'X', 2, NULL, CAST(N'2021-01-05T07:12:28.763' AS DateTime))
INSERT [dbo].[HOADON] ([MAHD], [MA_KH], [TONGTIEN], [LOAIHD], [TRANGTHAI_HD], [MA_NCC], [NGAYLAP_HD]) VALUES (N'003', N'KH1', 6850000, N'X', 0, NULL, CAST(N'2021-04-30T08:52:33.560' AS DateTime))
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT_KH], [DC_KH], [EMAIL_KH], [TRANGTHAI_KH]) VALUES (N'KH1', N'Bùi Khởi Long', N'0948250969', N'Nơ Trang Long, P13. Q.Bình Thạnh, Tp.HCM', N'bkl.sddt@gmail.com', 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT_KH], [DC_KH], [EMAIL_KH], [TRANGTHAI_KH]) VALUES (N'KH2', N'Bùi Khởi Lâm', N'0911918645', N'K.2, P.1, Tp.Sa Đéc, T.Đồng Tháp', N'bkl.sddt@gmail.com', 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT_KH], [DC_KH], [EMAIL_KH], [TRANGTHAI_KH]) VALUES (N'KH3', N'Thu Dung', N'0568927249', N'Nơ Trang Long, P13. Q.Bình Thạnh, Tp.HCM', N'tudu@gmail.com', 0)
GO
SET IDENTITY_INSERT [dbo].[KHOHINH] ON 

INSERT [dbo].[KHOHINH] ([MAHINH], [MADOITUONG], [TENFILE], [GHICHU]) VALUES (1, N'870-EVO', N'sp-870-EVO.jpg', N'Cover')
INSERT [dbo].[KHOHINH] ([MAHINH], [MADOITUONG], [TENFILE], [GHICHU]) VALUES (2, N'970EvoPlus', N'sp-970EvoPlus.jpg', N'Cover')
INSERT [dbo].[KHOHINH] ([MAHINH], [MADOITUONG], [TENFILE], [GHICHU]) VALUES (3, N'AORUS-RGB', N'sp-AORUS-RGB-01.jpg', N'Cover')
GO
SET IDENTITY_INSERT [dbo].[KHOHINH] OFF
GO
INSERT [dbo].[LOAIHOADON] ([MALOAIHD], [TENLOAIHD], [TRANGTHAI]) VALUES (N'N', N'Nhập hàng', 1)
INSERT [dbo].[LOAIHOADON] ([MALOAIHD], [TENLOAIHD], [TRANGTHAI]) VALUES (N'X', N'Xuất/Bán hàng', 1)
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP], [TRANGTHAI_LOAISP]) VALUES (N'Case', N'Case - Vỏ máy tính', 1)
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP], [TRANGTHAI_LOAISP]) VALUES (N'Chair', N'Ghế Gaming', 1)
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TENLOAISP], [TRANGTHAI_LOAISP]) VALUES (N'CPU', N'CPU - Bộ xử lý', 1)
GO
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI_TK], [MOTA_LOAITK]) VALUES (N'ADMIN', N'Quản trị viên', NULL)
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI_TK], [MOTA_LOAITK]) VALUES (N'KH', N'Khách hàng', NULL)
INSERT [dbo].[LOAITAIKHOAN] ([MALOAI], [TENLOAI_TK], [MOTA_LOAITK]) VALUES (N'NV', N'Nhân viên', NULL)
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT_NCC], [DC_NCC], [TK_NCC], [STK_NCC], [TRANGTHAI_NCC]) VALUES (N'ACER', N'Acer Việt Nam', N'02839106888', N'37 Tôn Đức Thắng, P.Bến Nghé, Q.1, TP.HCM', NULL, NULL, 1)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT_NCC], [DC_NCC], [TK_NCC], [STK_NCC], [TRANGTHAI_NCC]) VALUES (N'AMD', N'AMD Việt Nam', NULL, N'Tầng 9. Paxsky, 13-15-17 Trương Định, P.6, Q.3, TP.HCM', NULL, NULL, 1)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [SDT_NCC], [DC_NCC], [TK_NCC], [STK_NCC], [TRANGTHAI_NCC]) VALUES (N'ASUS', N'Asus Việt Nam', N'02839273869', N'476-478 Sư Vạn Hạnh, Phường 9, Quận 10, TP.HCM', NULL, NULL, 1)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA_NHAP], [GIA_BAN], [TONKHO], [TRANGTHAI_SP], [MALOAI], [MA_NCC], [MO_TA_SP]) VALUES (N'00Test', N'Test', 900, 1000, 1, 1, N'Chair', N'G.SKILL', N'')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA_NHAP], [GIA_BAN], [TONKHO], [TRANGTHAI_SP], [MALOAI], [MA_NCC], [MO_TA_SP]) VALUES (N'123', N'123', 123, 123, 123, 0, N'Case', N'ACER', N'123')
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA_NHAP], [GIA_BAN], [TONKHO], [TRANGTHAI_SP], [MALOAI], [MA_NCC], [MO_TA_SP]) VALUES (N'870-EVO', N'SSD Samsung 870 EVO 250GB 2.5 Inch SATA III', 790000, 1490000, 50, 1, N'SSD', N'SAMSUNG', N'Thương hiệu: Samsung. 
Chủng loại: SSD 2.5 Inch SATA III. 
Bảo hành: 60 tháng.')
GO
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [EMAIL], [MOTA_TK], [TRANGTHAI_TK], [LOAI_TK]) VALUES (N'a', N'a', N'', N'', 1, N'ADMIN')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [EMAIL], [MOTA_TK], [TRANGTHAI_TK], [LOAI_TK]) VALUES (N'bkl.sddt', N'Bkl200301', NULL, NULL, 1, N'ADMIN')
INSERT [dbo].[TAIKHOAN] ([USERNAME], [PASSWORD], [EMAIL], [MOTA_TK], [TRANGTHAI_TK], [LOAI_TK]) VALUES (N'KH01', N'Password', NULL, NULL, 1, N'KH')
GO
INSERT [dbo].[TRANGTHAI_COBAN] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (0, N'Tạm ngưng')
INSERT [dbo].[TRANGTHAI_COBAN] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Hoạt động')
GO
INSERT [dbo].[TRANGTHAI_CT_HOADON] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (0, N'Đã Huỷ')
INSERT [dbo].[TRANGTHAI_CT_HOADON] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Còn hàng')
GO
INSERT [dbo].[TRANGTHAI_HOADON] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (0, N'Đã huỷ')
INSERT [dbo].[TRANGTHAI_HOADON] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Đã thanh toán')
INSERT [dbo].[TRANGTHAI_HOADON] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (2, N'Đã giao hàng')
GO
INSERT [dbo].[TRANGTHAI_SANPHAM] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (0, N'Hết hàng')
INSERT [dbo].[TRANGTHAI_SANPHAM] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (1, N'Còn hàng')
INSERT [dbo].[TRANGTHAI_SANPHAM] ([TRANGTHAI], [TENTRANGTHAI]) VALUES (2, N'Ngưng Bán')
GO
ALTER TABLE [dbo].[CHITIET_HOADON] ADD  DEFAULT ((0)) FOR [GIAM]
GO
ALTER TABLE [dbo].[CHITIET_HOADON] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([MA_SP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[CHITIET_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_TT] FOREIGN KEY([TRANGTHAI_CTHD])
REFERENCES [dbo].[TRANGTHAI_CT_HOADON] ([TRANGTHAI])
GO
ALTER TABLE [dbo].[CHITIET_HOADON] CHECK CONSTRAINT [FK_CTHD_TT]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_LHD] FOREIGN KEY([LOAIHD])
REFERENCES [dbo].[LOAIHOADON] ([MALOAIHD])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_LHD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_TT] FOREIGN KEY([TRANGTHAI_HD])
REFERENCES [dbo].[TRANGTHAI_HOADON] ([TRANGTHAI])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_TT]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [PK_HD_KH] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [PK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [PK_HD_NCC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [PK_HD_NCC]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAISP] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_NCC] FOREIGN KEY([MA_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_NCC]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_TT] FOREIGN KEY([TRANGTHAI_SP])
REFERENCES [dbo].[TRANGTHAI_SANPHAM] ([TRANGTHAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_TT]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAITAIKHOAN] FOREIGN KEY([LOAI_TK])
REFERENCES [dbo].[LOAITAIKHOAN] ([MALOAI])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAITAIKHOAN]
GO
/****** Object:  StoredProcedure [dbo].[NHAP_CHI_TIET_HD_BAN]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NHAP_CHI_TIET_HD_BAN] @MAHD NVARCHAR(10), @MASP NVARCHAR(10),@TRANGTHAI INT, @SOLUONG INT
AS
BEGIN
INSERT INTO CHITIET_HOADON
VALUES(@MAHD,@MASP,@TRANGTHAI,@SOLUONG,(select GIA_BAN from SANPHAM where MASP=@MASP))
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCH_SANPHAM]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SEARCH_SANPHAM] @VALUE NVARCHAR(3000) AS
BEGIN
SELECT MASP as N'Mã Sản Phẩm', TENSP as N'Tên Sản Phẩm', GIA_BAN as N'Đơn Giá', TONKHO as N'Tồn Kho', TENTRANGTHAI as N'Trạng Thái', TENLOAISP as N'Loại Sản Phẩm' ,TENNCC as N'Nhà Cung Cấp', MO_TA_SP as N'Mô Tả Sản Phẩm' FROM SANPHAM, NHACUNGCAP, LOAISANPHAM,TRANGTHAI_SANPHAM WHERE MALOAI = MALOAISP AND MA_NCC = MANCC and TRANGTHAI_SP=TRANGTHAI  and (TENSP like @VALUE OR MASP like @VALUE  or TENLOAISP like @VALUE or TENNCC like @VALUE)
END
GO
/****** Object:  StoredProcedure [dbo].[TINH_TONG_TIEN]    Script Date: 6/25/2021 11:54:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TINH_TONG_TIEN] @MAHD NVARCHAR(10) 
AS
BEGIN
DECLARE @TONGTIEN INT 
SET @TONGTIEN =( SELECT SUM(DONGIA*SOLUONG)  FROM CHITIET_HOADON WHERE MA_HD =@MAHD GROUP BY MA_HD)
UPDATE HOADON SET TONGTIEN = @TONGTIEN WHERE MAHD = @MAHD
END
GO
USE [master]
GO
